.student_detail {
  width: 95%;
  margin: 2rem auto;
  text-align: center;
  /* background-color: aqua; */
}

.div_img_nam_id {
  display: flex;
  gap: 5%;
  margin-bottom: 3rem;
}

.div_img_nam_id img {
  width: 25%;
  border-radius: 4px;
}

.div_nam_id {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: start;
}

.div_grd_sec {
  display: flex;
  text-align: start;
  width: 30%;
  margin-left: 25%;
  padding-bottom: 1rem;
}

.div_cat_gen {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
  gap: 1rem;
  margin: auto;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.actions a,
.actions button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.actions button {
  background-color: transparent;
  border: none;
  color: var(--color-primary-800);
}
